<!-- Navigation Bar -->
<%- include('../partials/nav-entry'); %>

<div class="row welcome-screen form-overlay">

   <div class="row form-row">
      <h2>Sign up and get rewarded for each TAP</h2>
      <% if(errors) { %>
      <div class="alert alert-danger">
        <% errors.forEach(function(error) { %>
        <div><%= error %></div>
        <% }) %>
      </div>
    <% } %>
      <form action="/signup" method="post" class="form-container">
         <div class="form-group">
            <input type="name" name="username" class="form-control" id="exampleInputName" placeholder="Your Name">
         </div>
         <div class="form-group">
            <input type="email" name="email" class="form-control" id="exampleInputEmail" placeholder="Email Address">
         </div>
         <div class="form-group">
            <input type="tap-card" name="tapCard" class="form-control" id="exampleInputTapCard" placeholder="TAP Card Number">
         </div>
         <div class="form-group">
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
         </div>
         <div class="form-group">
            <input type="password" name="password2" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
         </div>
         <button type="button-main" class="btn btn-main page-btn">Sign Up</button>
      </form>

      <div class="row lower-form-row"</div>
      <h4><a href='/login'>Already have an account?</a></h4>
      </div>
   </div>
</div>
