<div class="row welcome-screen">
    <div class="row logo-row">
        <h1 class="text-logo">Tap Rewards</h1>
    </div>
    <div class="row button-row">
        <p class="buttons" id ="button-login"><a href='/login/'>Login</a></p>
        <p class="buttons" id="button-signup"><a href='/signup/'>Sign Up</a></p>
    </div>
</div>

