<footer class="row">
<div class="site-footer-row">
	<p>&copy; 2017 <a href="http://codingforproduct.com/" target="_blank">Coding for Product</a></p>
	<p>Team: Tinuola Awopetu, Carolina Bravo, Lisa Luther, Cindy Wang</p>
</div>
</footer>