<footer>
	<div class="container">
		<div class="row">
			<div class="site-footer-row">
				<h5>&copy; 2017 <a href="http://codingforproduct.com/" target="_blank">Coding for Product</a></h5>
				<h5>Team: Tinuola Awopetu, Carolina Bravo, Lisa Luther, Cindy Wang</h5>
			</div>
		</div>
	</div>
</footer>