<h1>Dashboard Page</h1>


<h3>Hi <%= rider[0].name %>!</h3>
<h4>Your points balance is: <%= rider[0].pointBalance %></h4>
<h5>Pick your <a href='/rewards'>rewards</a><h5/>

<section class="rewards-options">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4"><p>1 Free Metro Ride</p>
  </div>
  <div class="col-md-4">
    <p>1 Week of Free Metro</p></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-4"><p>Free Uber Ride</p></div>
  <div class="col-md-4"><p>Free Month of Parking</p></div>
  <div class="col-md-2"></div>
</div>
</section>

<section class="redeem-rewards">
<div class="row">
  <button type="submit" class="btn <btn-></btn->default">Checkout</button>
</div>
</section>
