<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<h1>Dashboard</h1>
	<p>There will be some sort of dashboard here eventually</p>

		<div class="row">
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			<img src="..." alt="...">
			</a>
		</div>
		...
		</div>

</body>
</html>