<div class="row login-screen">
<body>
  <div class="bkgd">
  <div class="form-container">
  <form class="form-main">	
	<br>
  <h2>Log in for Rewards</h2>
    <br>
	<form>
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div> 
        <button type="button-main" class="btn btn-main">Log in</button>
    </form>
    <div class="row lower-form"</div>  
    	<h4>New to TAP Rewards? <a href="SIGN UP LINK">Sign up for Free</a></h4>
    	<br>
    	<br>
    </div>
  </div>
  </div>
</body>