<!-- Navigation Bar -->
<%- include('./partials/nav'); %>


<h1 class="redeem">Redeem Page</h1>
<p>Congratulations!</p>
<p>You have redeemed <strong><%= reward.rewardType %></strong> for <em>XXX Points</em></p>
<p>Your new balance is:<strong> Points</strong></p>
