<h1 class="redeem"> Redeem Page</h1>
<br><br>
<h3 class="redeem">Congratulations!</h3>
<br><br>
<h3 class="redeem">Your reward is: </h3>
<h3 class="redeem"><%=reward.rewardType%></h3>
<br>
<i class="fa fa-car fa-5x redeem" aria-hidden="true"></i>
<br><br>
<h3 class="redeem">Your new balance is: <%= newbalance %></h3>
 