<div class="row welcome-screen form-overlay">
     <div class="row form-row">
          <h2>Reset your Password</h2>
          <form class="form-container">
               <div class="form-group">
               <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
               </div>
                <button type="button-main" class="btn btn-main page-btn">Log in</button>
          </form>
          <div class="row lower-form-row"</div>
            <h4>A link to reset your password will be sent <br> to the email address associated with your account.</h4>
          </div>
     </div>
</div>
