<div class="row signup-screen">
<body>
  <div class="bkgd">
  <div class="form-container">
  <form class="form-main">	
		<br>
  		<h2>Sign up and get rewarded for each TAP</h2>
    	<br>
	<form>
        <div class="form-group">
            <input type="name" class="form-control" id="exampleInputName" placeholder="Your Name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email Address">
        </div> 
  		<div class="form-group">
            <input type="tap-card" class="form-control" id="exampleInputTapCard" placeholder="TAP Card Number">
    	</div>
  		<div class="form-group">
            <input type="password1" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
 		<div class="form-group">
            <input type="password2" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
        </div>
        <button type="button-main" class="btn btn-main">Sign Up</button>
    </form>
    <div class="row lower-form"</div>  
    	<h4><a href="LOGIN LINK">Already have an account?</a></h4>    <br>
    	<br>
    </div>
  </div>
  </div>
</body>
