<!-- Tailored Navbar for Welcome Page -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TAP Rewards</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href='/welcome'>About<span class="sr-only">(current)</span></a></li>
        <li><a href='https://www.taptogo.net/TAPPurchase' target="_blank">Purchase TAP Card</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LA Metro Info <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href='https://www.metro.net/riding/trip-planner/' target="_blank">Trip Planner</a></li>  
          <li><a href='https://www.metro.net/riding/maps/' target="_blank">Maps & Timetables</a></li>
          <li><a href='https://www.metro.net/riding/fares/' target="_blank">Fares</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/login'>Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Start Welcome Page -->
<div class="row welcome-screen">
    <div class="welcome-row">
	    <div class="row logo-row">
	        <h1 class="text-logo">Tap Rewards</h1>
	    </div>
	    <div class="row button-row">
	        <p class="buttons" id ="button-login"><a href='/login/'>Login</a></p>
	        <p class="buttons" id="button-signup"><a href='/signup/'>Sign Up</a></p>
	    </div>
    </div>
</div>

<!-- Overview of TAP Rewards Process - NEED TO FORMAT -->
<h2>Register for a TAP Card or load money on an existing TAP Card to be ready to ride the LA Metro</h2>
<h2>Sign-up for TAP Rewards to begin earning exciting rewards with each Metro ride</h2>
<h2>Plan your trip on the LA Metro</h2>
<h2>Use your registered TAP Card on each ride and watch your points add up</h2>
<h2>Redeem your points for great rewards that make it even easier for you to keep using Metro, like Free Rides and Parking</h2>