<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid">
		<div class="jumbotron">
		    <h1>Tap Rewards Welcome/Landing Page</h1>
	    	<h2>Here's our <a href='/login/'>next page</a></h2>
    </div>
</body>
</html>