

<div class="container-fluid">
    <div class="row logo-row">
        <h1 class="text-logo">Tap Rewards</h1>
    </div>
    <div class="row button-row">
        <p class="buttons" id ="button-login">Login</p>
        <p class="buttons" id="button-signup">Sign Up</p>
    </div>
       <!--  <h2>Here's our <a href='/login/'>Login page</a></h2>
        <h3>Here's our <a href='/dashboard/'>Dashboard</a></h3>
 -->
</div>

